<h2 id="question-block"><%= @question.title %></h2>
  <p id="question"><%= @question.text %></p>
  <% if (can? :destroy, @question) && (can? :update, @question) %>
    <div class="pull-right" id="padding-right">
      <%= link_to "delete", @question , method: :delete, confirm: "Are you sure?" %>
      <%= link_to "edit", edit_question_path(@question) %> 
    </div>
  <% end %>
  <div style="padding-left:100px">
  <%= link_to "add a comment", new_question_comment_path(question_id: @question.id) %>
  </div>
<%= render "/answers/show", {question: @question} %>
<%= render "/answers/form", {question: @question, answer: Answer.new} %>


