<% if any_answer? %>
  <h2 id="padding-left">Answers</h2>
  <hr>
  <div id="answer-block">
    <% relevant_answers.each do |answer| %>
      <div id="answer">
	    * <%= answer.text %>
      	</br>
      	<% if (can? :edit, answer) && (can? :delete, answer) %>
      	  <div class="pull-right" id="padding-right">
      		<%= link_to "delete", question_answer_path(@question, answer), method: :delete, 
      		            confirm: "Are you sure?" %>
      		<%= link_to "edit", edit_question_answer_path(@question, answer) %> 
    	  </div>
    	<% end %>
      	<%= render "/comments/show", { commentable_id: answer.id, commentable_type: "Answer" } %>
      	<%= render "/comments/form", { commentable_id: answer.id, comment: Comment.new, 
      		                           commentable_type: "Answer" } %>
		<% if accepted? %>
	  	  <h3 class="pull-right">Accepted</h3>
		<% else %>
	  	  <% if can? :accept, answer %>
	    	<div class="btn btn-success pull-right">
	      	  <%= link_to "Accept", accept_question_answer_path(@question, answer) %>
	    	</div>
	  	  <% end %>
	 	<% end %>	
    	</div>	
   	<% end %>
  </div>	
<% end %>
